body {
  color: #222;
  font-family: sans-serif;
}

.grande {
  font-family: sans-serif;
  font-size: 5rem;
  background-color: chocolate;
  color: blanchedalmond;
  border-radius: 2rem 1rem 1rem 2rem;
  margin-top: 6rem;
  margin-right: 50%;
}
